<div class="body">
<!-- 
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  -->
   
 
<ul>
 
	<a  style="text-decoration:none" routerLink="aut"><li>Home</li></a>
	<a  style="text-decoration:none" routerLink="about"><li>About</li></a>
	<a  style="text-decoration:none" routerLink="gallery"><li>Recipes</li></a>
	<a  style="text-decoration:none" routerLink="contactUs"><li>Contact us</li></a>
	<li>Comments</li>

	<a  style="text-decoration:none" routerLink="login"><li>Log In / Sign up</li></a>
</ul>

  <!-- <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script> -->
</div>
