<div class="body">
<footer>
    <div class="myFooter">
    <h1 style="font-family: Harrington;">Cooking Connections</h1>
    <p>
      “A recipe has no soul. You, as the cook, must bring soul to the recipe.”
      <br>– Thomas Keller
     </p>
     <br>
     <a routerLink="contactUs" class="fa fa-google"></a>
     <br><br><br>     
     <p style="font-weight: bold; padding-top: 1.5em; font-size: 20px;">CONTACTS</p>
     <a routerLink="contactUs"><p style="text-decoration: none;">070067282gmail.com</p></a>
     <p>09172835222</p>
     <p>© Copyright Cooking Connections Pty Ltd 2022. All Rights Reserved.<br> DWCL: App. Dev. Project</p>    
    </div>
</footer>
</div>