<div class= "cookbook">
    <div class = "name3">
        <h1 data-text = "cream cheese garlic bread">CREAM CHEESE GARLIC BREAD</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/3.png" alt="garlicbread" class="garlicbread">
          <br>
          <div class = "ingredients3">   
            <h3>INGREDIENTS</h3>
                  <h2>
                    <li>4 medium dinner rolls or use dough and bake homemade rolls</li>
                    <li>4 oz. cream cheese softened</li>
                    <li>2 Tbsp. sugar</li>
                    <li>¼ cup heavy cream</li>
                    <li>½ cup butter melted</li>
                    <li>1 egg</li>
                    <li>2 Tbsp. milk</li>
                    <li>2 Tbsp. minced garlic or garlic paste</li>
                    <li>1 Tbsp. parsley chopped</li>
                    <li>Parmesan cheese to taste, optional</li>
                  </h2>
                </div>
                <div class = "procedure3">
                    <h3>INSTRUCTIONS</h3>
                    <h4>
                        <li> Bake dinner rolls from dough or place premade rolls on a baking sheet lined with parchment paper.
                            Keep oven preheated to 350°F.In a bowl, add softened cream cheese and beat with an electric mixer until creamy.Add sugar and mix through.
                            Finally, add heavy cream and beat until smooth.</li> 
                        <br>
                        <li> Add the sweetened cream cheese mixture to a piping bag. Alternatively, use a plastic bag with a corner cut out, if you don't have a piping bag.</li> 
                        <br>
                        <li> Cut rolls into 6-8 equal wedges, but do not cut all of the way through. Once cut, pipe the cream cheese mixture into the rolls through the slices.</li> 
                        <br>
                        <li> In a bowl, add melted butter along with egg and milk. Whisk well until smooth, then add parsley and minced garlic, and mix through.</li> 
                        <br>
                        <li> Dip your rolls into the garlic butter mixture to coat the top and let it sink into the wedges.</li> 
                        <br>
                        <li> Place the rolls on your parchment-lined baking sheet, then sprinkle with Parmesan cheese (optionally).</li> 
                        <br>
                        <li> Place the rolls on your parchment-lined baking sheet, then sprinkle with Parmesan cheese (optionally).</li> 
                    </h4>
                  </div>