<div class= "cookbook">
    <div class = "name6">
        <h1 data-text = "tantanmen ramen">TANTANMEN RAMEN</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/6.png" alt="tantanmen" class="tantanmen">
          <br>
          <div class = "ingredients6">   
            <h2>INGREDIENTS</h2>
                  <h3>
                    <hr>
                    Tare (Seasoning Sauce)
                    <hr>
                    <li>3 tbsp Tsuyu, Japanese soup base sauce (or 2 1/2 tbsp soy sauce + 1/2 tsp hondashi)
                      <br>
                    <li>2 tbsp tahini
                      <br>
                    <li>1 tbsp chili oil
                    <hr>
                    Meat
                    <hr>
                    <li>2 tbsp chili oil or regular cooking oil (adjust to your liking)</li>
                    <br>
                    <li>3 cloves garlic, chopped (approximately 1 tbsp)</li>
                    <br>
                    <li>1 oz ginger, chopped (approximately 1 tsp)</li>
                    <br>
                    <li>1 tbsp toban djan, Chinese chili bean paste</li>
                    <br>
                    <li>1 tbsp oyster sauce</li>
                    <br>
                    <li>1/2 lb ground pork, beef, chicken or impossible meat</li>
                    <br>
                    <li>3 tbsp rice wine</li>
                    <br>
                    <hr>
                    Soup
                    <hr>
                    <li>1 cup water</li>
                    <br>
                    <li>2 cups un-sweetened soy, oat or cashew milk</li>
                    <br>
                    <li>2 tsp chicken powder/bouillon</li>
                    <br>
                    <hr>
                    Noodles & Toppings
                    <hr>
                    <li>1 baby bok choy, cut bottom & separate each leaf </li>
                    <br>
                    <li>handful beansprouts</li>
                    <br>
                    <li>2 portions fresh, frozen or dried ramen noodles</li>
                    <br>
                    <li>1 to 2 green onions, chopped</li>
                    <br>
                    <li>1 ramen egg, cut into half</li>
                    <br>
                    <li>sesame seeds & sansyo powder (optional)</li>

                  </h3>
                </div>
                <div class = "procedure6">
                    <h2>INSTRUCTIONS</h2>
                    <h4>
                      <li> Add all ingredient for tare and whisk until smooth. Set aside.</li>
                      <br>
                      <li> In a medium pot, combine water, soy milk and chicken powder. Cover and bring it to light simmer. Watch carefully, it’s easy to boil over. Also, bring another pot of water to boil.</li>
                      <br>
                      <li> Heat a large wok over high heat, add chili oil, garlic and ginger. Stir fry for 30 seconds or until you can smell aroma, then add toban djan and oyster sauce. Stir fry for 45 seconds to 1 minute then add ground pork. Break down pork and stir fry with sauce, about 1 minute.
                      Splash rice wine and stir fry for 3 to 4 minutes or until there’s no moisture and pork is fully cooked. Remove from heat and keep it warm.</li>
                      <br>
                      <li> Add generous amount of salt into boiling water then add bok choy and blanch for 1 minute. Remove from water, drain and set aside. Add handful of beansprouts and blanch for 2 minute. Remove from water, drain and set aside.</li>
                      <br>
                      <li> Drop noodles into now-empty-boiling-water, cook by following the directions of package you’re using. Cook 1 portion at a time if you are using fresh/frozen noodles. Meanwhile noodles are cooking (about 1 to 2 minutes for fresh/frozen noodles), combine half of tare and half of hot broth in a serving bowl.</li>
                      <br>
                      <li> Drain well cooked noodles (extra water will dilute the broth and flavors) and add into bowl. Stir noodles to coat evenly with broth and arrange them. Top ramen with beansprouts, bok choy, stir-fried pork, extra chili oil if you like, ramen egg, chopped green onions, sesame seeds and sansyo powder</li>
                        </h4>
                  </div>