<div class= "cookbook">
    <div class = "name8">
        <h1 data-text = "kimchi fried rice">KIMCHI FRIED RICE</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/7.png" alt="kimchi" class="kimchi">
          <br>
          <div class = "ingredients8">   
            <h2>INGREDIENTS</h2>
                  <h3>
                    <li> 1 cup kimchi (*see notes), cut into thumbnail size pieces</li>
                    <li> 150g / 5.3 ounces bacon, cut into thumbnail size pieces(optional)</li> 
                    <li> pack enoki mushrooms (200g, 7 ounces), root removed, rinse the mushrooms in cold water and drain.</li>
                    <li> cups steamed white short/medium grain rice – if it is freshly cooked, leave it out for 5 to 10 mins at room temperature to cool down before cooking.</li>
                    <li> 4 x-large eggs, cooked sunny side up or per your preference</li>
                    <li> 1/2 tsp minced garlic</li>
                    <li> 1/4 cup kimchi juice (*see notes) – this liquid is from the bottom of the kimchi container</li>
                    <li> 1/2 Tbsp sesame oil</li>
                    <li> 1/2 Tbsp cooking oil</li>
                    <li> 1 to 2 Tbsp roasted sesame seeds, to garnish(optional) </li>
                    <li> 1/2 stalk green onion, thinly sliced(optional) </li>
                    <li>roasted seasoned seaweed, shredded</li>
                  </h3>
                </div>

            <div class = "procedure8">
              <h2>INSTRUCTIONS</h2>
              <h3>
                <li>On medium high heat preheat a pan/wok and once heated, add the cooking oil and spread it well with a spatula.</li>  
                <br>
                <li>Add the garlic, stir it fast for about 10 seconds. Then add the bacon and stir it well until half of it is cooked.</li> 
                <br>
                <li>Add the Kimchi and stir until 80% of it is cooked. </li>
                <br>
                <li>(Optional) Add the mushrooms and mix them well for a few seconds. Reduce the heat to medium-medium low.</li> 
                <br>
                <li>Add the rice and the kimchi juice. Mix all of them together well and thoroughly.  </li>
                <br>
                <li>Add the sesame oil and mix them well. Remove from the heat.  </li>
                <br>
                <li>Serve the Kimchi fried rice on a plate. Garnish with the sesame seeds, green onion and seaweed strips. 
                (Garnish is all optional). Place the cooked egg on top. Enjoy.</li>
              </h3>
            </div>
            </div>
</div>
