    <div id="sect1"class="container">  
        <div class="row align-items-center">
            <div class="col-lg-6 home-about-left">
            </div>
        </div>
    </div>	

<!-- Section 2 -->
<section class="sec2">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="text">
                    <p style="font-family:verdana"> Cooking Connections is an online resource and recipe book that<br>
                         enables everyone to learn and discover the latest ways of cooking,<br>
                        containing new delicious mouthwatering recipes and easy-to-follow<br>
                         instructions. Perfect for gatherings, celebrations, or just an ordinary day.  
                         <br>
                         <br>         
                         <p style="font-family:verdana">
                            It was made to connect people by sharing the secrets of cooking from<br>
                            various cuisines around the world. Because  no matter what culture,<br>
                            everywhere around the world, people eat together because every bite<br>
                            takes you home.
            </p>
                </div>
            </div>
        </div>						
