<div class= "cookbook">
    <div class = "name7">
        <h1 data-text = "curry omurice">CURRY OMURICE</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/7.png" alt="curry" class="curry">
          <br>
          <div class = "ingredients7">   
            <h2>INGREDIENTS</h2>
                  <h3>
                    <hr>
                    CURRY SAUCE (FOR 4 SERVINGS)
                    <hr>
                    <li>2 tbsp vegetable oil</li>
                    <li>1 onion, diced finely</li>
                    <li>2 medium carrots, peeled, cut into bite-sized triangular chunks</li>
                    <li>2 medium potatoes, peeled, cut into 1-inch chunks</li>
                    <li>5 cup dashi/chicken stock/vegetable stock (1200 ml)</li>
                    <li>1 tbsp ketchup</li>
                    <li>1 tbsp soy sauce</li>
                    <li>4 cubes Japanese curry roux</li>
                    <li>2 tbsp cornstarch</li>
                    <li>2 tbsp water</li>
                    <hr>
                    TORNADO OMELET (FOR 2 SERVINGS)
                    <hr>
                    <li>1 tbsp olive oil</li>
                    <li>1 tbsp butter</li>
                    <li>2 eggs</li>
                    <li>1/4 tsp salt, to taste</li>
                    <li>1 tbsp cornstarch</li>
                    <li>2 tbsp water</li>
                    <li>2 servings steaming rice, packed tightly into a bowl</li>
                  </h3>
                </div>

            <div class = "procedure7">
              <h2>INSTRUCTIONS</h2>
              <h3>
                <hr>
                CURRY SAUCE
                <hr>
                <li>Heat vegetable oil in a large pot over medium heat and stir in onions until they become translucent.</li>
                <br>
                <li>Add carrots and potatoes and stir well. Add dashi and bring to boil. Skim the foam from the surface of the soup.</li>
                <br>
                <li>Simmer until the carrots and potatoes are tender while stirring occasionally. Add ketchup, soy sauce, and curry roux.</li>
                <br>
                <li>Simmer in low heat until the soup thicken. If you want a thicker sauce, mix cornstarch and water in a small bowl until well combined. Add the slurry per tablespoon until you get the desired thickness.
                    Keep in mind that the sauce will get thicken when cooled. Turn off the heat and set aside.</li>
                <hr>
                    TORANDO OMELET
                <hr>
                <li>In a small bowl, whisk together the eggs and salt together until smooth.</li>
                <br>
                <li>In a small bowl, combine the cornstarch and water to make a slurry. Add the slurry to the beaten egg and whisk until well combined.</li>
                <br>
                <li>Heat the oil and butter on a large non-stick frying pan at low-medium heat. When the pan is hot, pour all the egg mixture into the pan. Wait a few seconds until the egg coagulates and forms a thin but solid base.</li>
                <br>
                <li>Bring the rim of the egg from two opposite sides of the pan using the chopsticks and drag them to the middle of the pan but make sure to keep the chopsticks apart.</li>
                <br>
                <li>Start turning the frying pan slowly in a circle while jiggling the pan a bit while rotating. After a while, the egg will start looking like a vortex.</li>
                <hr>
                ASSEMBLY
                <hr>
                <li>Place a bowl of steaming rice on top of a big serving plate. Turn the bowl upside down so that the rice comes out in a dome shape on the plate. Set aside.</li>
                <br>
                <li>Remove the egg when the bottom is solid but the top is still moist. Slide the egg on top of the rice and serve with the curry sauce.</li>
              </h3>
            </div>
