.cookbook{
    background-image:url("https://i.pinimg.com/736x/06/8e/c7/068ec7b0dea0ad662ad412168061293d.jpg");
    height: auto;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.curry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
    
.name7{
    max-width: 100%;
    margin:initial;
    overflow: auto;
    padding-top: 110px;
    padding-bottom: 110px;
}
.name7 h1{
    text-align: center;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 10vw;
    -webkit-text-stroke: 0.3vw rgb(105, 78, 9);
    text-transform:uppercase;

}
.name7 h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color:rgb(248, 248, 248);
    -webkit-text-stroke: 0vw rgb(237, 173, 89);
    border-right: 2px solid rgb(248,248,248);
    overflow: hidden;
    animation: animate 3s ;
}
@keyframes animate{
    0%,10%,100%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
}
.name7 h2{
    text-align: center;
    font-family: fantasy;
    color: sienna;
}

.ingredients7 {
    border-style: solid;
    padding: 20px;
    text-align:justify;
    border-color:white;
    float: left;
    width: 40%;
    margin-left:30px;
    margin-right:10px ;
    
}

.ingredients7 h2{
    text-align: center;
    font-family: fantasy;
    color: rgb(160, 118, 45);
}

.ingredients7 h3{
        font-family:'Courier New';
        color: rgb(0, 0, 0);
        text-align: left;
    }


.procedure7{
    border-style: solid;
    padding: 20px;
    text-align:justify;
    border-color:aliceblue;
    float: right;
    width: 40%;
    margin-right: 30px;
    margin-left: 10px;
    
}
.procedure7 h2{
    text-align: center;
    font-family: fantasy;
    color: rgb(160, 118, 45);
}
.procedure7 h3{
    
    font-family:'Courier New';
    color: rgb(0, 0, 0);
}
