


<div class="all">
  

    <div id="First">
        <form style="border:1px solid rgb(188, 170, 4)">
            <div class="container">
        <b>
              <h1>Login</h1>
                <p>Welcome Back!</p>
                <p> ノ( ^o^)ノ</p></b>
                 <hr>
        
              <label for="uname"><b>Username</b></label><br>
              <input class="line" ngModel id="user" type="text" placeholder="Enter Username/Email" name="uname" required>
              <br>
              <label for="psw"><b>Password</b></label><br>
              <input ngModel class="line" id ="pass" type="password" placeholder="Enter Password" name="psw" required>
              <br>
              <button id = "cook" type="submit">Login</button>
              <br>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            
              <span class="psw">Forgot <a href="#">password?</a></span><br>
              <button type="button" class="cancelbtn">Cancel</button>
               
        </div>
        </form>
        </div>
          

    </div>
        
        
    