.big{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  font-family: fantasy;
  margin-top: auto;
}

.title{
  display: inline-flex;
  font-size: 100px;
  margin-top: 10%;
}

.title .statice-text{
  color: #d71c03;
}

.title .dynamic-texts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-texts li{
  color: black;
  list-style: none;
  font-size: 100px;
  font-weight: 500;
  position: relative;
}

.dynamic-texts li span{
  position: relative;
}

.dynamic-texts li span::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(252, 250, 246);
  border-left: 2px solid rgb(19, 18, 18);
  animation: typing 4s steps(8) infinite;   
}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}






.BODY{
    background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-spoon-korean-food-traditional-background-picture-image_1452798.jpg');
    /* height: auto; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Gallery_Container {
    max-width: 100%;
   overflow: auto;
    padding-top: 110px;
    padding-left:110px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .Gallery_Container h1 {
   color: rgba(1, 1, 0, 0.946);
   letter-spacing: 2px;
   text-transform: uppercase;
   line-height: 70px;
   padding-bottom: 30px;
   padding-right: 100px;
   text-align: center;
  }
  div.Gallery {
    margin: 1em;
    float: left;
    width: 250px;
    height: 500px;
    
  
  }
  .Gallery img {
    width: 100%;
    height: auto;
    
    
  }
  
  .Desc {
    color: rgb(19, 18, 18);
    font-family: 'Roboto', sans-serif;
    padding: 15px;
  }
  a {
    text-decoration: none;
    text-align: center;
    font-family: Kristen ITC;
    position: relative;
    font-weight: bolder;
    font-size: 1em;
    /* -webkit-text-stroke: 0.1em rgb(5, 5, 5); */
    text-transform:uppercase;
    text-shadow: 2px 1px 5px rgb(252, 252, 252);
    color: black;  
  }
  a:hover{
    text-shadow: 2px 1px 5px rgb(250, 250, 250);
    color: rgb(181, 67, 1);
  }
  .zoom {
    /* padding: 50px; */
    transition: transform .2s;
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  
/* h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color:rgb(248, 248, 248);
    -webkit-text-stroke: 0vw rgb(237, 173, 89);
    border-right: 2px solid rgb(248,248,248);
    overflow: hidden;
    animation: animate 3s ;
} */
/* @keyframes animate{
    0%,10%,100%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
} */