<div class="BODY">
    <div class="big">
    <div class="title">
        <div class = "static-text">RECIPE FOR</div>
        <ul class="dynamic-texts">
            <li><span>TODAY!!</span></li>
        </ul>

    </div>
    </div>

    <div class="Gallery_Container">    

    
        <div class="Gallery"> <div class="Desc"><a href="egg">Egg Drop Sandwhich</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/1.png"></div>
               
        </div>
        
        <div class="Gallery"> <div class="Desc"><a href="spinach">Spinach Puff Pastry</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/2.png"></div>
           
        </div>

        <div class="Gallery">  <div class="Desc"><a href="garlicbread">Cream Cheese Garlic Bread</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/3.png"></div>
          
        </div>

        <div class="Gallery">  <div class="Desc"><a href="shrimp">Shrimp Udon Tempura</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/4.png"></div>
          
        </div>

        <div class="Gallery"> <div class="Desc"><a href="miso">Spicy Miso Tonkotsu</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/5.png"></div>
           
        </div>

        <div class="Gallery"> <div class="Desc"><a href="tantanmen">Tantanmen Ramen</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/6.png"></div>
           
        </div>

        <div class="Gallery">  <div class="Desc"><a href="indcurr">Curry Omurice</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/7.png"></div>
          
        </div>

        <div class="Gallery">   <div class="Desc"><a href="kimchi">Kimchi Fried Rice</a></div>
            <div class="zoom"><img src="../assets/COOK BOOK MY EDITS/8.png"></div>
         
        </div>

   
</div>