<div class="body">
  <h1>Recipes</h1>
  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/1.png" alt="Cinque Terre" width="" height="">
    </a>
    <div class="desc">
      <h2>(Ingredients)</h2>
      <hr>
      <li>Ham</li>
      <li>Cheese</li> 
      <li>Bread</li>
      <li>Eggs</li>
      <li>parsley</li>
      <li>condensed milk</li>
      <li>ketchup</li>
    </div>

      <h2>(Directions)</h2>
      <hr>
      <li>Melt butter in a large pan and toast both sides of the bread until golden brown.</li>
      <li>Beat the eggs with heavy cream for rich, creamy scrambled eggs. Substitute with milk or a lighter option.</li>
      <li>Heat pan over medium low heat and melt the rest of the butter. Gently stir the eggs with a flat spatula until it begins to set.</li>
      <li>Spread the sriracha mayo sauce on the insides of the toast.</li>
      <li>Add the scrambled eggs, ham, and cheese while still hot.</li>
      <li>Finally drizzle on the egg drop sauce (sweet mayo sauce) and sprinkle parsley or chives to finish.</li>

  </div>
  
  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/2.png" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">
      <h2>(Ingredients)</h2>
      <hr>
      <li>1 package (17.3 ounces) frozen puff pastry,thawed</li>
      <li>package (10 ounces) frozen chopped spinach, thawed and squeezed dry</li>
      <li>ounces cream cheese, softened</li>
      <li>1/2 cup shredded mozzarella cheese</li>
      <li>1/4 cup crumbled feta cheese</li>
      <li>2 large eggs, divided use 2 garlic cloves, minced</li>
      <li>1/2 teaspoon pepper</li>
      <li>1/4 teaspoon salt</li>

      <h2>(Directions)</h2>
      <hr>
      <li>Preheat oven to 400°. Unfold puff pastry; cut each sheet into 12 sections. Place in greased mini muffin cups, pressing gently onto bottoms and up sides, allowing corners to point up.</li>
      <br>
      <li>In a large bowl, stir together spinach, cream cheese, mozzarella, feta, 1 egg, garlic, pepper and salt. Spoon 1 tablespoon into each cup. Bring pastry corners together and pinch to seal. In a small bowl, beat remaining egg. Brush over pastry edges. Bake until puffed and golden brown, about 20 minutes.</li>

  

    </div>
  </div>
  
  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/3.png" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">
      <h2>Ingredients</h2>
      <hr>
      <li>250mL (1 cup) milk, room temp</li>
      <li>60g (5 tbsp) sugar</li>
      <li>10g instant dry yeast (make sure it’s instant! Otherwise you need to let the yeast bloom in warmed milk)</li>
      <li>500g (3-3/4 cup) bread flour</li>
      <li>6g (1 tsp) salt</li>
      <li>2 eggs</li>
      <li>40g (3 tbsp) unsalted butter, softened to room temp</li>
      <li>Egg wash (1 egg + 1 tbsp water), optional</li>

      <h2>Directions</h2>
      <hr>
      <li>Slice each bread roll into 6 or 8 sections depending on how you like them (I like 8 for more cream cheese surface area hehe). Make sure not to cut all the way for each cut, but still close to the bottom. We want these sections to still be attached (think blooming onion!).</li>
      <li>Pipe in the cream cheese mixture in-between each bread section (I like to go in with a stripe of cream each section for every roll and THEN go back and double up on the cream to make sure I don’t run out before I get to all the rolls.)</li>
      <li>Serve fresh and enjoy!</li>





    </div>
  </div>
  
  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/4.png" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">
      <h2>Ingredients</h2>
      <hr>
      <li>4 cups water</li>
      <li>1 anchovy soup stock packet</li>
      <li>2 tbsp light soy sauce</li>
      <li>2 tbsps mirin</li>
      <li>450 grams udon noodles</li>
      <li>6 shrimp tempura</li>
      <li>6 slices kamaboko</li>
      <li>shichimi togarashi</li>
      <li>green onions</li>

      <h2>Directions</h2>
      <hr>
      <li>Add the dried bonito, anchovy soup packet, light soy sauce, and mirin to 4 cups of water in a small saucepot. Bring it up to a simmer and allow the broth to simmer for 10 minutes, with a lid on.</li>
      <li>Cook the udon noodles according to the package before draining and setting it aside.</li>
      <li>Slice to kamaboko and reheat the shrimp tempura.</li>
      <li>Divide the udon, soup (packet removed), kamaboko, and shrimp tempura into two bowls. Top with shichimi togarashi and green onions before enjoying.</li>
    </div>
  </div>

  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/5.png" alt="Mountains" width="" height="">
    </a>
    <div class="desc">
      <h2>(Ingredients)</h2>
      <hr>
      <li>4 eggs</li>
      <li>1 tbsp sugar</li>
      <li>3 tbsp tamari</li>
      <li>3 tbsp mirin</li>
      <li>3 tbsp sake</li>
      <li>½ cup water</li>
      <li>2 pound pork belly</li>
      <li>¼ cup tamari</li>
      <li>2 inch knob of ginger</li>

      <h2>(Directions)</h2>
      <hr>
      <li>Place noodles in a bowl and then ladle broth over the noodles until noodles are covered.</li>
      <li>Lay slices of chasu on top of the noodles. Cut egg in half and place on top of noodles along with a piece of nori.</li>
      <li>Garnish with green onions and a dash of togarashi.</li>
      <li>Serve hot!.</li>
    </div>
  </div>

  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/6.png" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">
      <h2>(Ingredients)</h2>
      <hr>
      <li>3 tbsp Tsuyu, Japanese soup base sauce</li>
      <li>2 tbsp tahini</li>
      <li>1 tbsp chili oil </li>
      <li> 2 tbsp chili oil or regular cooking oil</li>
      <li>3 cloves garlic, chopped (approximately 1 tbsp)</li>
      <li>1 oz ginger, chopped</li>
      <li>1 oz ginger, chopped</li>
      <li>1 tbsp toban djan</li>
      <li>1 tbsp oyster sauce</li>
      <li>1/2 lb ground pork</li>
      <li>3 tbsp rice wine </li>

      <h2>(Directions)</h2>
      <hr>
      <li>Add all ingredient for tare and whisk until smooth. Set aside.</li>
      <li>In a medium pot, combine water, soy milk and chicken powder. Cover and bring it to light simmer. Watch carefully, it’s easy to boil over. Also, bring another pot of water to boil.</li>
      <li>Heat a large wok over high heat, add chili oil, garlic and ginger. Stir fry for 30 seconds or until you can smell aroma, then add toban djan and oyster sauce. Stir fry for 45 seconds to 1 minute then add ground pork. Break down pork and stir fry with sauce, about 1 minute. Splash rice wine and stir fry for 3 to 4 minutes or until there’s no moisture and pork is fully cooked. Remove from heat and keep it warm.</li>
      <li>Add generous amount of salt into boiling water then add bok choy and blanch for 1 minute. Remove from water, drain and set aside. Add handful of beansprouts and blanch for 2 minute. Remove from water, drain and set aside.</li>
      <li>Drop noodles into now-empty-boiling-water, cook by following the directions of package you’re using. Cook 1 portion at a time if you are using fresh/frozen noodles. Meanwhile noodles are cooking (about 1 to 2 minutes for fresh/frozen noodles), combine half of tare and half of hot broth in a serving bowl. </li>
      <li>Drain well cooked noodles (extra water will dilute the broth and flavors) and add into bowl. Stir noodles to coat evenly with broth and arrange them. Top ramen with beansprouts, bok choy, stir-fried pork, extra chili oil if you like, ramen egg, chopped green onions, sesame seeds and sansyo powder </li>
    </div>
  </div>

  <div class="gallery">
    <a target="" >
      <img src="../assets/COOK BOOK MY EDITS/7.png" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">
      <h2>Ingredients</h2>
      <li>1.5 Tbsp cooking oil</li>
      <li>1 Tbsp plain flour</li>
      <li>5 Tbsp ketchup</li>
      <li>1 Tbsp soy sauce, regular</li>
      <li>1 Tbsp Tonkatsu sauce or regular soy sauce</li>
      <li>1 Tbsp honey or brown sugar</li>
      <li>3/4 cup water</li>
      <li>1/4 cup milk</li>
    </div>
  </div>

  <div class="gallery">
    <a target="">
      <img src="../assets/COOK BOOK MY EDITS/8.png" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  



</div>