<div class="BODY">
    <div class="Gallery_Container">
        <h1>Recipes</h1>
        <hr>
        <div class="Gallery" >
            <img src="../assets/COOK BOOK MY EDITS/1.png">
                <div class="Desc"><a href="egg">Egg Drop Sandwhich</a></div>
        </div>
        
        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/2.png">
            <div class="Desc"><a href="spinach">Spinach Puff Pastry</a></div>
        </div>

        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/3.png">
            <div class="Desc"><a href="garlicbread">Cream Cheese Garlic Bread</a></div>
        </div>

        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/4.png">
            <div class="Desc"><a href="shrimp">Shrimp Udon Tempura</a></div>
        </div>

        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/5.png">
            <div class="Desc"><a href="miso">Spicy Miso Tonkotsu</a></div>
        </div>

        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/6.png">
            <div class="Desc"><a href="tantanmen">Tantanmen Ramen</a></div>
        </div>

        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/7.png">
            <div class="Desc"><a href="">Curry Omurice</a></div>
        </div>

        <div class="Gallery">
            <img src="../assets/COOK BOOK MY EDITS/8.png">
            <div class="Desc"><a href="">Kimchi Fried Rice</a></div>
        </div>

   
</div>