<div class= "cookbook">
    <div class = "name1">
        <h1 data-text = "EGG DROP SANDWICH">EGG DROP SANDWICH</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/1.png" alt="egg" class="egg">
          <br>
          <div class = "ingredients1">   
            <h2>INGREDIENTS</h2>
                  <h3>
                  <li>Cheese</li>
                    <li>Bread</li>
                    <li>Ham or Bacon</li>
                    <li>Eggs</li>
                    <li>Parsley</li>
                    <li>Mayo</li> 
                    <li>Sweetened condensed milk </li>
                    <li>Butter</li> 
                    <li>Heavy Cream or Milk</li>
                    <li>Ketchup</li>
                  </h3>
                </div>

            <div class = "procedure1">
              <h2>INSTRUCTIONS</h2>
              <h3>
                <li> Melt butter in a large pan and toast both sides of the bread until golden brown.</li>
                <br>
                <li>Beat the eggs with heavy cream for rich, creamy scrambled eggs. Substitute with milk or a lighter option.</li>
                <br>
                <li>Heat pan over medium low heat and melt the rest of the butter. Gently stir the eggs with a flat spatula until it begins to set.</li>
                <br>
                <li>Turn off the heat and remove the pan from the heat. Any uncooked eggs should set from the residual heat of the pan.</li>
                <br>
                <li>Spread the sriracha mayo sauce on the insides of the toast.</li>
                <br>
                <li>Add the scrambled eggs, ham, and cheese while still hot.</li>
                <br>
                <li>Finally drizzle on the egg drop sauce (sweet mayo sauce) and sprinkle parsley or chives to finish.</li>
                <br>
              </h3>
            </div>
