<div class= "cookbook">
    <div class = "name4">
        <h1 data-text = "shrimp tempura udon">SHRIMP TEMPURA UDON</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/4.png" alt="shrimp" class="shrimp">
          <br>
          <div class = "ingredients4">   
            <h3>INGREDIENTS</h3>
                  <h2>
                    <li>1 cup Dashi </li>
                    <li>1 tablespoon soy sauce</li> 
                    <li>1 tablespoon mirin </li>
                    <li>1 packet Udon noodles </li>
                    <li>2-4 pcs shrimps </li>
                    <li>1 cup flour </li>
                    <li>1 cup iced water </li>
                    <li>1 cup Panko crumbs </li>
                    <li>2-4 slices Narutomaki fish cakes</li> 
                    <li>1 tablespoon chopped scallions Shichimi tōgarashi</li>
                  </h2>
                </div>
                <div class = "procedure4">
                    <h3>INSTRUCTIONS</h3>
                    <h4>
                        <li> On a chopping board, decapitate and devein the prawns. Then, make three slits on each of them.</li>
                        <br>
                        <li> On a chopping board, decapitate and devein the prawns. Then, make three slits on each of them.</li>
                        <br>
                        <li> Fill a deep pan with oil and heat until 180c. Add the prawns into the oil and fry until golden brown. Once cooked, place them on a paper towel or oil tray to remove excess oil.</li>
                        <br>
                        <li> Place them on a plate and set them aside. We will top the tempura udon bowl with these prawns for serving later.</li>
                        <hr>
                        Procedure (Udon) :
                        <hr>
                        <li> In a saucepan with medium heat, add the Dashi stock. Then, add soy sauce and mirin. Bring the soup to a boil.</li>
                        <br>
                        <li> Once it boils, turn off the heat and set it aside.</li>
                        <hr>
                        Procedure (Udon Noodles) :
                        <hr>
                        <li>In a pot, add some water and add the noodles. Cook according to the instructions on the packaging or let it cook for 1-2 minutes until tender. Drain the noodles and serve in two bowls.</li>
                        <br>
                        <li>Pour the soup over the noodles. Top with shrimp tempuras and narutomaki fish cakes. Garnish with chopped scallions and add a little bit of shichimi for some spice. Enjoy your tempura udon while it’s hot!</li>
                    </h4>
                  </div>