<div class= "cookbook">
    <div class = "name5">
        <h1 data-text = "spicy miso tonkotsu">SPICY MISO TONKOTSU</h1>
        <hr style="width:50%; text-align:center; color: black"><br>
          <img src="../assets/COOK BOOK MY EDITS/5.png" alt="miso" class="miso">
          <br>
          <div class = "ingredients5">   
            <h3>INGREDIENTS</h3>
                  <h2>
                    <hr>
                    Karimiso
                    <hr>
                    <li>3.5 cups doubanjiang Chinese hot bean paste</li>
                    <li>1 cup ginger grated fresh</li>
                    <li>1 cup garlic minced</li>
                    <li>1 cup sake</li>
                    <li>1 cup soy sauce</li>
                    <li>0.5 cup sugar</li>
                    <hr>
                    Ramen
                    <hr>
                    <li>1 cup Shio Tare</li>
                    <li>10 cups Tonkotsu Creamy Soup</li>
                    <li>2.67 pounds noodles fresh, such as Takasuimen</li>
                    <li>8 to 16 slices Pork Chashu</li>
                    <li>Negi</li>
                  </h2>
                </div>
                <div class = "procedure5">
                    <h3>INSTRUCTIONS</h3>
                    <h4>
                        <li> With all your ingredients ready to go, bring a large pot of water to a boil over medium-high heat.</li>
                        <br>
                        <li> Heat your ramen bowls by filling them halfway with hot water. The bowls don’t need to be scalding, but they should be hot to the touch. Dump out the hot water and dry the bowls with some paper towels or a clean towel.</li>
                        <br>
                        <li> Put the tare, soup, and ¾ cup of the karamiso in a medium saucepan. Mix and bring to a simmer over low heat.</li>
                        <br>
                        <li> Cook the noodles in the large pot of boiling water. Ramen that has been cut to a standard thickness (about 1 mm) will cook in 1 to 2 minutes.</li>
                        <br>
                        <li> Cook the noodles in the large pot of boiling water. Ramen that has been cut to a standard thickness (about 1 mm) will cook in 1 to 2 minutes.</li>
                        <br>
                        <li> Drain the noodles, taking care to shake off as much excess water as you can. Carefully place some noodles in each bowl of soup, keeping them tidy.</li>
                        <br>
                        <li> Place 1 or 2 slices of chashu and a sprinkle of negi neatly on the ramen. Serve immediately, with extra karamiso on the side.</li>
                        </h4>
                  </div>