<div class="body">
    <br><br>
    <h1>Cooking Connections</h1>
    <br><br><br><br>
    <p>Your Online Cook Book is here!<br>
    That will bring you a round trip variety of cruisines that you may sure try at your homes to tuck in.<br>
    Enjoy exploring</p>
    <br><br><br>
    <div class="quotes">
        <br><br><br><br>
        <p class="p2">
            “A recipe has no soul. You, as the cook, must bring soul to the recipe.”
            <br>– Thomas Keller
        </p>
        <br><br><br><br>
    </div>
    <br><br>    
     <p class="p3">Featured Recipe</p>           
    <div class="one">
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/roCX0AfBseQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
<div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HsxBw6ls7Z0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><br><br>
</div>
</div>
</div>
</div>
    </div>
    <br><br><br>

 
</div>

